In [369]:
#Import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [370]:
#load the wastestats.csv

wastestats = pd.read_csv('datasets/wastestats.csv')
wastestats.head()

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Food,679900,111100.0,791000,0.14,2016
1,Paper/Cardboard,576000,607100.0,1183100,0.51,2016
2,Plastics,762700,59500.0,822200,0.07,2016
3,C&D,9700,1585700.0,1595400,0.99,2016
4,Horticultural waste,111500,209000.0,320500,0.65,2016

In [372]:
#check number of rows and columns
wastestats.shape

(225, 6)

In [373]:
#Identify missing values
wastestats.isna().sum()

waste_type                     0
waste_disposed_of_tonne        0
total_waste_recycled_tonne     0
total_waste_generated_tonne    0
recycling_rate                 0
year                           0
dtype: int64

In [374]:
#see the datatypes in our dataset
wastestats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   waste_type                   225 non-null    object
 1   waste_disposed_of_tonne      225 non-null    int64
 2   total_waste_recycled_tonne   225 non-null    float64
 3   total_waste_generated_tonne  225 non-null    int64
 4   recycling_rate               225 non-null    float64
 5   year                         225 non-null    int64
dtypes: float64(2), int64(3), object(1)
memory usage: 10.7+ KB

In [375]:
#load the 2018_2019_waste.csv 
waste2018 = pd.read_csv('datasets/2018_2019_waste.csv')
waste2018.head()

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Construction& Demolition,1440,1434,2019
1,Ferrous Metal,1278,1270,2019
2,Paper/Cardboard,1011,449,2019
3,Plastics,930,37,2019
4,Food,7440,136,2019

In [376]:
waste2018.shape

(30, 4)

In [377]:
waste2018.isna().sum()

Waste Type                       0
Total Generated ('000 tonnes)    0
Total Recycled ('000 tonnes)     0
Year                             0
dtype: int64

In [378]:
waste2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Waste Type                     30 non-null     object
 1   Total Generated ('000 tonnes)  30 non-null     int64
 2   Total Recycled ('000 tonnes)   30 non-null     int64
 3   Year                           30 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.1+ KB

In [379]:
waste2018.shape

(30, 4)

Since the column "Total Recycled ('000 tonnes)" indicates that the numbers here are in 000 tonnes, we multiply them by 1000 so that we have them in the same form as those in the wastestats.csv dataset

In [380]:
waste2018["Total Recycled ('000 tonnes)"] = 1000 * waste2018["Total Recycled ('000 tonnes)"]

In [381]:
#change the datatype of "Total Recycled ('000 tonnes)" to float to have the same datatype as that of wastestats.csv dataset
waste2018["Total Recycled ('000 tonnes)"] = waste2018["Total Recycled ('000 tonnes)"].astype('float')

# Selecting columns we will work with in our datasets

In [384]:
new_waste2018 = waste2018[["Waste Type", "Total Recycled ('000 tonnes)","Year"]]
new_waste2018.head()

                 Waste Type  Total Recycled ('000 tonnes)  Year
0  Construction& Demolition                     1434000.0  2019
1             Ferrous Metal                     1270000.0  2019
2           Paper/Cardboard                      449000.0  2019
3                  Plastics                       37000.0  2019
4                      Food                      136000.0  2019

In [385]:
#Renaming some columns so they match with those in the other dataset
new_waste2018_2 = new_waste2018.rename(columns = {"Waste Type":"waste_type","Total Recycled ('000 tonnes)":"total_waste_recycled_tonne","Year":"year"})

# Merge the two datasets

In [386]:
frames = [new_wastestats,new_waste2018_2]

In [387]:
recycling_df = pd.concat(frames)

In [388]:
display(recycling_df)

                               waste_type  total_waste_recycled_tonne  year
0                                    Food                    111100.0  2016
1                         Paper/Cardboard                    607100.0  2016
2                                Plastics                     59500.0  2016
3                                     C&D                   1585700.0  2016
4                     Horticultural waste                    209000.0  2016
..                                    ...                         ...   ...
25                      Non-Ferrous Metal                    170000.0  2018
26                                  Glass                     12000.0  2018
27                            Scrap Tyres                     29000.0  2018
28  Others (stones, ceramic, rubber, ect)                     11000.0  2018
29                                Overall                   4726000.0  2018

[255 rows x 3 columns]

In [389]:
recycling_df.shape

(255, 3)

In [390]:
#sort values using year
recycling_df = recycling_df.sort_values('year')

In [391]:
print(recycling_df)

                                waste_type  total_waste_recycled_tonne  year
200                    Horticultural Waste                    119300.0  2003
196                        Paper/Cardboard                    466200.0  2003
197                               Plastics                     39100.0  2003
198                    Construction Debris                    398300.0  2003
199                            Wood/Timber                     40800.0  2003
..                                     ...                         ...   ...
3                                 Plastics                     37000.0  2019
2                          Paper/Cardboard                    449000.0  2019
1                            Ferrous Metal                   1270000.0  2019
13   Others (stones, ceramic, rubber, ect)                     15000.0  2019
0                 Construction& Demolition                   1434000.0  2019

[255 rows x 3 columns]

# Formatting data in the merged dataset

In [392]:
#make all values in 'waste_type' lowercase
recycling_df['waste_type'] = recycling_df['waste_type'].str.lower()

In [393]:
#removing whitespaces
recycling_df['waste_type'] = recycling_df['waste_type'].str.replace(' ', '')

In [394]:
recycling_df['waste_type'] = recycling_df['waste_type'].str.strip()

In [395]:
recycling_df['waste_type'].unique()

array(['horticulturalwaste', 'paper/cardboard', 'plastics',
       'constructiondebris', 'wood/timber', 'ferrousmetals', 'foodwaste',
       'non-ferrousmetals', 'sludge', 'glass', 'textile/leather',
       'scraptyres', 'others(stones,ceramics&rubberetc)', 'total',
       'usedslag', 'others', 'ferrousmetal', 'food', 'c&d', 'wood',
       'non-ferrousmetal', 'ash&sludge',
       'others(stones,ceramics&rubberetc.)',
       'others(stones,ceramic,rubber,etc.)', 'plastic', 'ashandsludge',
       'horticultural', 'construction&demolition', 'overall',
       'others(stones,ceramic,rubber,ect)'], dtype=object)

In [396]:
#making same values to have the same name
recycling_df['waste_type'].replace({"ferrousmetal": "ferrousmetals", "non-ferrousmetal": "non-ferrousmetals","plastics":"plastic"}, inplace=True)

In [397]:
recycling_df['waste_type'].unique()

array(['horticulturalwaste', 'paper/cardboard', 'plastic',
       'constructiondebris', 'wood/timber', 'ferrousmetals', 'foodwaste',
       'non-ferrousmetals', 'sludge', 'glass', 'textile/leather',
       'scraptyres', 'others(stones,ceramics&rubberetc)', 'total',
       'usedslag', 'others', 'food', 'c&d', 'wood', 'ash&sludge',
       'others(stones,ceramics&rubberetc.)',
       'others(stones,ceramic,rubber,etc.)', 'ashandsludge',
       'horticultural', 'construction&demolition', 'overall',
       'others(stones,ceramic,rubber,ect)'], dtype=object)

# Getting data from 2015 to 2019

In [398]:
new_recycling_df = recycling_df[(recycling_df['year'] >= 2015) & ((recycling_df.waste_type == 'non-ferrousmetals')|(recycling_df.waste_type == 'ferrousmetals')|(recycling_df.waste_type == 'plastic')|(recycling_df.waste_type == 'glass')) ]

In [151]:
new_recycling_df

            waste_type  total_waste_recycled_tonne  year
17             plastic                     57800.0  2015
22   non-ferrousmetals                    160400.0  2015
25               glass                     14600.0  2015
21       ferrousmetals                   1333300.0  2015
2              plastic                     59500.0  2016
6        ferrousmetals                   1351500.0  2016
7    non-ferrousmetals                     95900.0  2016
10               glass                     14700.0  2016
221            plastic                     51800.0  2017
218              glass                     12400.0  2017
213  non-ferrousmetals                     92200.0  2017
211      ferrousmetals                   1371000.0  2017
16       ferrousmetals                    126000.0  2018
18             plastic                     41000.0  2018
25   non-ferrousmetals                    170000.0  2018
26               glass                     12000.0  2018
11               glass                     11000.0  2019
10   non-ferrousmetals                    124000.0  2019
3              plastic                     37000.0  2019
1        ferrousmetals                   1270000.0  2019

# Loading the energy_saved.csv dataset

The table in the energy_saved.csv dataset gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type. 1 barrel oil is approximately 159 litres of oil

In [399]:
#Contents of the Dataframe created by skipping top 3 lines from csv file
energy_saved = pd.read_csv('datasets/energy_saved.csv',skiprows = 3, header = None)
energy_saved.head()

,0,1,2,3,4,5
0,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
1,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh
2,crude_oil saved,16 barrels,NaN,1.8 barrels,40 barrels,1.7 barrels

In [400]:
## Transposing our data
energy_saved_t = energy_saved.T.iloc[: , 0:]

In [402]:
#Make row number one our header
energy_saved_t.columns = energy_saved_t.iloc[0]

In [404]:
#deleting duplicate row
new_energy_saved_t = energy_saved_t.drop(energy_saved_t.index[0])

In [405]:
new_energy_saved_t.head()

0           material energy_saved crude_oil saved
1            Plastic     5774 Kwh      16 barrels
2              Glass       42 Kwh             NaN
3      Ferrous Metal      642 Kwh     1.8 barrels
4  Non-Ferrous Metal    14000 Kwh      40 barrels
5              Paper     4000 kWh     1.7 barrels

In [406]:
#droping value which is not useful to us
new_energy_saved_t = new_energy_saved_t.drop(labels=5, axis=0)

In [407]:
#renaming our values
new_energy_saved_t['material'].replace({"Ferrous Metal": "ferrousmetals", "Non-Ferrous Metal": "non-ferrousmetals","Plastic":"plastic","Glass":"glass"}, inplace=True)

In [408]:
#renaming column
new_energy_saved_t = new_energy_saved_t.rename(columns={'material': 'waste_type'})

In [409]:
new_energy_saved_t

0         waste_type energy_saved crude_oil saved
1            plastic     5774 Kwh      16 barrels
2              glass       42 Kwh             NaN
3      ferrousmetals      642 Kwh     1.8 barrels
4  non-ferrousmetals    14000 Kwh      40 barrels

# Remove whitespace in the energy_saved.csv dataset

In [410]:
new_energy_saved_t['energy_saved'] = new_energy_saved_t['energy_saved'].str.strip()

In [411]:
new_energy_saved_t['waste_type'] = new_energy_saved_t['waste_type'].str.strip()

In [412]:
new_energy_saved_t = new_energy_saved_t.sort_values(by=['waste_type'])

In [419]:
new_energy_saved_t = new_energy_saved_t.rename(columns={'energy_saved': 'energy_saved(Kwh)'})

In [420]:
new_energy_saved_t.head()

0         waste_type  energy_saved(Kwh) crude_oil saved
3      ferrousmetals              642.0     1.8 barrels
2              glass               42.0             NaN
4  non-ferrousmetals            14000.0      40 barrels
1            plastic             5774.0      16 barrels

# Get 2015 data

In [421]:
new_recycling_df_2015 = new_recycling_df[(new_recycling_df.year == 2015)].sort_values(by=['waste_type'])
new_recycling_df_2015

           waste_type  total_waste_recycled_tonne  year
21      ferrousmetals                   1333300.0  2015
25              glass                     14600.0  2015
22  non-ferrousmetals                    160400.0  2015
17            plastic                     57800.0  2015

In [422]:
mergerd_new_recycling_df_2015 = pd.merge(new_recycling_df_2015, new_energy_saved_t)

In [423]:
mergerd_new_recycling_df_2015

,waste_type,total_waste_recycled_tonne,year,energy_saved(Kwh),crude_oil saved
0,ferrousmetals,1333300.0,2015,642.0,1.8 barrels
1,glass,14600.0,2015,42.0,NaN
2,non-ferrousmetals,160400.0,2015,14000.0,40 barrels
3,plastic,57800.0,2015,5774.0,16 barrels

In [424]:
mergerd_new_recycling_df_2015["energy_saved_by_recycling"] = mergerd_new_recycling_df_2015["total_waste_recycled_tonne"] * mergerd_new_recycling_df_2015["energy_saved(Kwh)"]

In [425]:
mergerd_new_recycling_df_2015

,waste_type,total_waste_recycled_tonne,year,energy_saved(Kwh),crude_oil saved,energy_saved_by_recycling
0,ferrousmetals,1333300.0,2015,642.0,1.8 barrels,8.559786e+08
1,glass,14600.0,2015,42.0,NaN,6.132000e+05
2,non-ferrousmetals,160400.0,2015,14000.0,40 barrels,2.245600e+09
3,plastic,57800.0,2015,5774.0,16 barrels,3.337372e+08

# Get 2016 Data

In [426]:
new_recycling_df_2016 = new_recycling_df[(new_recycling_df.year == 2016)].sort_values(by=['waste_type'])
new_recycling_df_2016

           waste_type  total_waste_recycled_tonne  year
6       ferrousmetals                   1351500.0  2016
10              glass                     14700.0  2016
7   non-ferrousmetals                     95900.0  2016
2             plastic                     59500.0  2016

In [427]:
mergerd_new_recycling_df_2016 = pd.merge(new_recycling_df_2016, new_energy_saved_t)

In [428]:
mergerd_new_recycling_df_2016

,waste_type,total_waste_recycled_tonne,year,energy_saved(Kwh),crude_oil saved
0,ferrousmetals,1351500.0,2016,642.0,1.8 barrels
1,glass,14700.0,2016,42.0,NaN
2,non-ferrousmetals,95900.0,2016,14000.0,40 barrels
3,plastic,59500.0,2016,5774.0,16 barrels

In [429]:
mergerd_new_recycling_df_2016["energy_saved_by_recycling"] = mergerd_new_recycling_df_2016["total_waste_recycled_tonne"] * mergerd_new_recycling_df_2016["energy_saved(Kwh)"]

In [430]:
mergerd_new_recycling_df_2016

,waste_type,total_waste_recycled_tonne,year,energy_saved(Kwh),crude_oil saved,energy_saved_by_recycling
0,ferrousmetals,1351500.0,2016,642.0,1.8 barrels,8.676630e+08
1,glass,14700.0,2016,42.0,NaN,6.174000e+05
2,non-ferrousmetals,95900.0,2016,14000.0,40 barrels,1.342600e+09
3,plastic,59500.0,2016,5774.0,16 barrels,3.435530e+08

# 2017 Data

In [431]:
new_recycling_df_2017 = new_recycling_df[(new_recycling_df.year == 2017)].sort_values(by=['waste_type'])
new_recycling_df_2017

            waste_type  total_waste_recycled_tonne  year
211      ferrousmetals                   1371000.0  2017
218              glass                     12400.0  2017
213  non-ferrousmetals                     92200.0  2017
221            plastic                     51800.0  2017

In [432]:
mergerd_new_recycling_df_2017 = pd.merge(new_recycling_df_2017, new_energy_saved_t)

In [433]:
mergerd_new_recycling_df_2017

,waste_type,total_waste_recycled_tonne,year,energy_saved(Kwh),crude_oil saved
0,ferrousmetals,1371000.0,2017,642.0,1.8 barrels
1,glass,12400.0,2017,42.0,NaN
2,non-ferrousmetals,92200.0,2017,14000.0,40 barrels
3,plastic,51800.0,2017,5774.0,16 barrels

In [434]:
mergerd_new_recycling_df_2017["energy_saved_by_recycling"] = mergerd_new_recycling_df_2017["total_waste_recycled_tonne"] * mergerd_new_recycling_df_2017["energy_saved(Kwh)"]

In [435]:
mergerd_new_recycling_df_2017

,waste_type,total_waste_recycled_tonne,year,energy_saved(Kwh),crude_oil saved,energy_saved_by_recycling
0,ferrousmetals,1371000.0,2017,642.0,1.8 barrels,8.801820e+08
1,glass,12400.0,2017,42.0,NaN,5.208000e+05
2,non-ferrousmetals,92200.0,2017,14000.0,40 barrels,1.290800e+09
3,plastic,51800.0,2017,5774.0,16 barrels,2.990932e+08

# 2018 Data

In [436]:
new_recycling_df_2018 = new_recycling_df[(new_recycling_df.year == 2018)].sort_values(by=['waste_type'])
new_recycling_df_2018

           waste_type  total_waste_recycled_tonne  year
16      ferrousmetals                    126000.0  2018
26              glass                     12000.0  2018
25  non-ferrousmetals                    170000.0  2018
18            plastic                     41000.0  2018

In [437]:
mergerd_new_recycling_df_2018 = pd.merge(new_recycling_df_2018, new_energy_saved_t)

In [438]:
mergerd_new_recycling_df_2018

,waste_type,total_waste_recycled_tonne,year,energy_saved(Kwh),crude_oil saved
0,ferrousmetals,126000.0,2018,642.0,1.8 barrels
1,glass,12000.0,2018,42.0,NaN
2,non-ferrousmetals,170000.0,2018,14000.0,40 barrels
3,plastic,41000.0,2018,5774.0,16 barrels

In [439]:
mergerd_new_recycling_df_2018["energy_saved_by_recycling"] = mergerd_new_recycling_df_2018["total_waste_recycled_tonne"] * mergerd_new_recycling_df_2018["energy_saved(Kwh)"]

In [440]:
mergerd_new_recycling_df_2018

,waste_type,total_waste_recycled_tonne,year,energy_saved(Kwh),crude_oil saved,energy_saved_by_recycling
0,ferrousmetals,126000.0,2018,642.0,1.8 barrels,8.089200e+07
1,glass,12000.0,2018,42.0,NaN,5.040000e+05
2,non-ferrousmetals,170000.0,2018,14000.0,40 barrels,2.380000e+09
3,plastic,41000.0,2018,5774.0,16 barrels,2.367340e+08

# 2019 Data

In [441]:
new_recycling_df_2019 = new_recycling_df[(new_recycling_df.year == 2019)].sort_values(by=['waste_type'])
new_recycling_df_2019

           waste_type  total_waste_recycled_tonne  year
1       ferrousmetals                   1270000.0  2019
11              glass                     11000.0  2019
10  non-ferrousmetals                    124000.0  2019
3             plastic                     37000.0  2019

In [442]:
mergerd_new_recycling_df_2019 = pd.merge(new_recycling_df_2019, new_energy_saved_t)

In [443]:
mergerd_new_recycling_df_2019

,waste_type,total_waste_recycled_tonne,year,energy_saved(Kwh),crude_oil saved
0,ferrousmetals,1270000.0,2019,642.0,1.8 barrels
1,glass,11000.0,2019,42.0,NaN
2,non-ferrousmetals,124000.0,2019,14000.0,40 barrels
3,plastic,37000.0,2019,5774.0,16 barrels

In [444]:
mergerd_new_recycling_df_2019["energy_saved_by_recycling"] = mergerd_new_recycling_df_2019["total_waste_recycled_tonne"] * mergerd_new_recycling_df_2019["energy_saved(Kwh)"]

In [445]:
mergerd_new_recycling_df_2019

,waste_type,total_waste_recycled_tonne,year,energy_saved(Kwh),crude_oil saved,energy_saved_by_recycling
0,ferrousmetals,1270000.0,2019,642.0,1.8 barrels,8.153400e+08
1,glass,11000.0,2019,42.0,NaN,4.620000e+05
2,non-ferrousmetals,124000.0,2019,14000.0,40 barrels,1.736000e+09
3,plastic,37000.0,2019,5774.0,16 barrels,2.136380e+08

Below are the amount of energy in Kilowatt-hour (kWh) the government has saved per year
by recycling glass, plastic, ferrous, and non-ferrous metals between 2015 and 2019

In [454]:
total_2015 = mergerd_new_recycling_df_2015['energy_saved_by_recycling'].sum()
total_2015

3435929000.0

In [455]:
total_2016 = mergerd_new_recycling_df_2016['energy_saved_by_recycling'].sum()
total_2016

2554433400.0

In [456]:
total_2017 = mergerd_new_recycling_df_2017['energy_saved_by_recycling'].sum()
total_2017

2470596000.0

In [457]:
total_2018 = mergerd_new_recycling_df_2018['energy_saved_by_recycling'].sum()
total_2018

2698130000.0

In [458]:
total_2019 = mergerd_new_recycling_df_2019['energy_saved_by_recycling'].sum()
total_2019

2765440000.0

Below is the table summarising the amount of energy in Kilowatt-hour (kWh) the government has saved per year by recycling glass, plastic, ferrous, and non-ferrous metals between 2015 and 2019

In [461]:
data = {'year': [2015,2016,2017,2018,2019], 'total_energy_saved(kWh)': [total_2015, total_2016, total_2017, total_2018,total_2019]}

In [462]:
annual_energy_savings = pd.DataFrame(data)

In [463]:
annual_energy_savings

   year  total_energy_saved(kWh)
0  2015             3.435929e+09
1  2016             2.554433e+09
2  2017             2.470596e+09
3  2018             2.698130e+09
4  2019             2.765440e+09